body
{
    background-color:black;
}
h1, p, a, h2, li 
{
    color: white;
}


.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button-link:hover {
    background-color: #0056b3;
}